<!doctype html>
<html ng-app="ShowDirectives">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="app.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="../drag_n_drop.js"></script>
        <script src="app.js"></script>
    </head>

    <body class="container">
        <div ng-controller="DemoCtrl">
            <h2>Drag&amp;drop</h2>
            <ul class="thumbnails">
                <li ng-repeat="bucket in buckets" class="span4" dnd-droppable on-drop="dropBadge(draggableScope.badge, bucket)" on-accept="acceptBadge(draggableScope.badge, bucket)">
                    <span ng-repeat="label in bucket.labels" class="label" ng-class="label.cssClass">{{label.text}}</span>
                    <div class="thumbnail well box">
                        <span ng-repeat="badge in bucket.badges" class="badge" ng-class="badge.cssClass" dnd-draggable>{{badge.text}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </body>

</html>